{% assign desktop-link-list = linklists[section.settings.desktop-header-menu].links %}
{% assign mobile-link-list = linklists[section.settings.mobile-header-menu].links %}


<div x-data="{ mobileMenuOpen: false }" class="relative bg-white">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-between lg:justify-center items-center py-6 md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <a href="/">
          <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
        </a>
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button
          @click="mobileMenuOpen = true"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
          {% render 'icon-hamburger-menu' %}
        </button>
      </div>

      <!-- NAVIGATION MENU -->
      <nav x-data="{
        open: false,
        secondDropdown: false
        }" class="hidden md:flex space-x-10">

        {% for link in desktop-link-list %}
          {% if link.links != blank %}
            <div class="relative">
              <button
                @click="open = !open"
                type="button"
                class="inline-flex items-center text-base text-gray-500 hover:text-gray-900">
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </button>

              <div
                x-cloak
                @click.away="open = false"
                x-show="open"
                class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">

                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">

                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    {% for childLink in link.links %}
                      {% if childLink.links != blank %}
                        <button
                          @click="secondDropdown = !secondDropdown"
                          @click.away="secondDropdown = false"
                          type="button"
                          class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100 text-gray-900 text-base font-medium pl-7">
                          {{ childLink.title }}
                          {% render 'icon-dropdown' %}
                        </button>
                        <div
                          x-transition
                          x-cloak
                          x-show="secondDropdown"
                          class="relative ml-6 grid gap-6 bg-white  ">

                          {% for childLink2 in childLink.links %}
                            <a href="{{ childLink2.url }}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                              <div class="">
                                <p class="text-gray-900 text-base font-small">
                                  {{ childLink2.title }}
                                </p>
                              </div>
                            </a>
                          {% endfor %}
                        </div>
                      {% else %}
                        <a href="{{ childLink.url }}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                          <div class="ml-4">
                            <p class="text-gray-900 text-base font-medium">
                              {{ childLink.title }}
                            </p>
                          </div>
                        </a>

                      {% endif %}

                    {% endfor %}

                  <!-- CREATE THE SUBLINK -->


                  </div>
                </div>
              </div>
            </div>

          {% else %}
            <div class="relative">
              <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
            </div>

          {% endif %}


        {% endfor %}


      </nav>


      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}

          <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
          <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
        {% endif %}
      </div>


    </div>
  </div>

  <div
    x-show="mobileMenuOpen"
    x-cloak
    x-transition
    class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
    <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
      <div class="p-5 divide-y-2 divide-gray-50">

        <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
        <div class="flex items-center justify-between pb-3">
          <div>
            <a href="/">
              <h1 class="text-lg text-gray-500 font-bold">{{ section.settings.mobile-menu-title }}</h1>
            </a>
          </div>
          <div class="-mr-2">
            <button
              @click="mobileMenuOpen = false"
              type="button"
              class="bg-white rounded-md p-2 text-gray-500">
              {% render 'icon-close' %}
            </button>
          </div>
        </div>

        <!-- NAVIGATION LINKS FOR MOBILE MENU -->
        <div class="pt-3">
          <nav x-data="{
            open: false,
            secondDropdown: false
            
          }" class="grid gap-y-7">

            {% for link in mobile-link-list %}
              {% if link.links != empty %}
                <div class="relative">
                  <button
                    x-transition
                    @click="open = !open"
                    type="button"
                    class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full">
                    <div>
                      {{ link.title }}</div>
                    {% render 'icon-dropdown' %}
                  </button>

                  <div
                    x-cloak
                    x-transition
                    x-show="open"
                    @click.away="open = false"
                    class="grid gap-y-4 py-3 mt-3">
                    {% for childLink in link.links %}
                      {% if childLink.links != empty %}
                        <button
                          x-transition
                          @click="secondDropdown = !secondDropdown"
                          type="button"
                          class="p-3 flex w-full items-center rounded-md text-base font-medium text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                          <div>
                            {{ link.title }}
                          </div>
                          {% render 'icon-dropdown' %}
                        </button>

                        <div
                          x-cloak
                          x-transition
                          x-show="secondDropdown"
                          @click.away="secondDropdown = false"
                          class="grid gap-y-1 mb-2">

                          {% for childLink2 in childLink.links %}
                            <a href="{{ childLink2.url }}" class="p-3 flex           items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                              <span class="ml-4 text-base font-medium text-gray-500">{{ childLink2.title }}</span>
                            </a>
                          {% endfor %}
                        </div>

                      {% else %}
                        <a href="{{ childLink.url }}" class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                          <span class="ml-3 text-base font-medium text-gray-500">{{ childLink.title }}</span>
                        </a>

                      {% endif %}

                    {% endfor %}


                  </div>
                </div>

              {% else %}
                <a href="{{ link.url }}" class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                  {{ link.title }}
                </a>
              {% endif %}
            {% endfor %}


          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile-menu-title",
        "label": "Title",
        "default": "Menu",
        "info": "Setting to customize the header title for mobile menu"
      }, {
        "type": "link_list",
        "id": "desktop-header-menu",
        "default": "main-menu",
        "label": "Desktop Menu",
        "info": "Menu to display on desktop header"
      }, {
        "type": "link_list",
        "id": "mobile-header-menu",
        "default": "main-menu",
        "label": "Mobile Menu",
        "info": "Menu to display on mobile header"
      }
    ]
  }
{% endschema %}