{{ section.settings.blogs_posts_per_page }}
{% paginate blog.articles by {{ section.settings.blogs_posts_per_page }} %}
  {% for article in blog.articles %}
    <div>
      {% if article.image != blank %}
        <img src="{{ article.image |  image_url: width: 300 }}" alt="{{ article.image.alt }}">

      {% else %}
        {{ 'image' | placeholder_svg_tag: 'w-20' }}
      {% endif %}
      <h1>{{ article.title }}</h1>

      {% if article.excerpt.size > 0 %}

      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 100 }}</p>

      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}

{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "range",
        "id": "blogs_posts_per_page",
        "label": "Blog posts per page",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 3
      }
    ]
  }
{% endschema %}