{% for block in section.blocks %}
  {% case block.type %}
    {% when 'article_title' %}
      <h1>{{ article.title }}</h1>

    {% when 'article_author' %}
      <small>{{ article.author }}</small>

    {% when 'article_published_at' %}
      <time datetime="{{ article.published_at |  date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

    {% when 'featured_image' %}
      <img
        src="{{ article.image |  image_url: width: 500}}"
        alt="{{article.image.alt}}"
        loading="lazy"
        width="500"
        height="">

    {% when 'article_content' %}
      <div>{{ article.content }}</div>


  {% endcase %}

{% endfor %}


{% schema %}
  {
    "name": "Article",
    "settings": [],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_at",
        "name": "Published Date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]
  }
{% endschema %}